@page
@model BloomInventories.Pages.CreateModel
@{
}



@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BloomInventories</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BloomInventories.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>

    <div class="navigation">
        <div class="logo">BLOOM INVENTORIES</div>
        <div class="line"></div>

        <a class="nav-link activeH" asp-area="" asp-page="/Dashboard"><h3>Dashboard</h3></a>
        <a class="nav-link" asp-area="" asp-page="/Inventory"><h3>Inventory</h3></a>
        <a class="nav-link" asp-area="" asp-page="/Create"><h3><strong>Create</strong></h3></a>
        <a class="nav-link" asp-area="" asp-page="/Dashboard"><h3>Sales Portal</h3></a>

    </div>

    <div style="width: 80%; height: 100vh; float: left; background-color: #FDFCF7;">

        <div class="row">
            <input class="location-picker" placeholder="Bouquet search" />

            <a class="sub-nav" asp-area="" asp-page="/Index">Home</a>
            <a class="sub-nav" asp-area="" asp-page="/Inventory">Inventory</a>
            <a class="sub-nav" asp-area="" asp-page="/Create"><strong>Create</strong></a>

        </div>

        <div class="card-container">

        @foreach (var recipe in Model.allRecipes)
            {

            <div class="card">

                <div class="row">

                    <div class="weekly">
                        <img src="@recipe.ImgUrl" />
                    </div>

                    <div style="float:left; width:50%">
                        <h3>
                            @recipe.Name
                        </h3>
                        <h5>@recipe.Category</h5>
                    </div>

                </div>


                <div class="row" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">

                   <p>  @foreach (var material in recipe.Materials)
                        {
                            if (material != "")
                            {
                            @material
                            }
                        }</p>

                </div>

                @{ if (recipe.IsCraftable())
                    {
                        <form method="post" asp-page-handler="update" asp-route-name="@recipe.Name" asp-route-count="@recipe.Quantity">
                            @{
                                foreach (var material in recipe.Materials)
                                {
                                    <input type="hidden" name="materials[]" value="@material" />
                                }
                            }
                            <input class="done" type="submit" value="Create Bouquet" />
                        </form>
                                    }
                                }

                    </div><!--card-->
            }<!--end of for each-->
            
    </div>



</body>
</html>

