@page
@model BloomInventories.Pages.DashboardModel
@{
}

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BloomInventories</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <script src="circletype.min.js"></script>
    <link rel="stylesheet" href="~/BloomInventories.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Licorice&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="~/images/favicon.png">
</head>
<body>

    <div class="navigation">
        <div class="logo">BLOOM INVENTORIES</div>
        <div class="line"></div>

        <a class="nav-link activeH" asp-area="" asp-page="/Dashboard"><h3><strong>Dashboard</strong></h3></a>
        <a class="nav-link" asp-area="" asp-page="/Inventory"><h3>Inventory</h3></a>
        <a class="nav-link" asp-area="" asp-page="/Create"><h3>Create</h3></a>


    </div>

    <div style="width: 55%; height: 100vh; float: left; background-color: #FDFCF7;">

        <div class="row">
            <form method="post" asp-page-handler="location" class="location-container">

                <select class="location-picker" name="location_id" value="@Model.location">
                    <option class="option1" selected="@(Model.location == 1 ? true : false)" value="1">Bloom Headquarters</option>
                    <option class="option2" selected="@(Model.location == 2 ? true : false)" value="2">Peony Place</option>
                    <option class="option3" selected="@(Model.location == 3 ? true : false)" value="3">Carnation Corner</option>
                </select>

                <input class="btn confirm" type="submit" value="Change" style="float:left;" />
            </form>

            <a class="sub-nav" asp-area="" asp-page="/Index">Home</a>
            <a class="sub-nav" asp-area="" asp-page="/Inventory">Inventory</a>
            <a class="sub-nav" asp-area="" asp-page="/Create">Create</a>

        </div>

        <h1>The most fresh floral creations happen here</h1>

        <div class="seasonal1">
            <h3>Seasonal Flowers</h3>

            @foreach (var seasonalFlower in Model.AllSeasonalFlowers)
            {
                <div class="flower-container">
                    <div class="img-container"><img class="flower-img" src="@seasonalFlower.ImgUrl" /></div>
                    <h4>@seasonalFlower.Name</h4>
                </div>

            }

        </div><!--seasonal container-->

        <div class="seasonal2" style="margin-top:30px">
            <h3>Stock running low</h3>

            @foreach (var lowFlowers in Model.AllLowFlowers)
            {
                <div class="flower-container">
                    <div class="img-container"><img class="flower-img" src="@lowFlowers.ImgUrl" /></div>
                    <h4>@lowFlowers.Name | <strong>@lowFlowers.Quantity</strong></h4>

                </div>

            }

        </div>
    </div>

    <div style="width: 25%; height: 100vh; float: left; background-color: #F0F1EB; padding:20px">
        <h3 class="logo" style="color: #2E3D30; margin-left:35px; margin-top:20px; font-size:15px">BOUQUET OF THE WEEK</h3>

        @foreach (var random in Model.RandomBouquet)
        {
            <div class="weekly">
                <img src="@random.ImgUrl" style="width:100%; border-radius: 150px 150px 0px 0px;" />
            </div>

            <h5 class="weeklyHeader">@random.Name</h5>
            <h6 class="weeklyCat">@random.Category</h6>
            <p class="weeklyP">
                @foreach (var material in random.Materials)
                {
                    if (material != "")
                    {
                        @(material + ", ");

                    }
                }
            </p>

        }

        <div class="create">NEW BOUQUET</div>

        <div class="subs">
            <h2>@Model.SubscriberCount</h2>
            <div class="line2"></div>
            <h4>Weekly <br />subscriptions</h4>
        </div>
    </div>

    <div class="blob">
        <h2>@Model.BouquetCount</h2>
            <div class="line3"></div>
            <h4>Bouquets <br />here</h4>
    </div>

    <script>

        $(function () {
            $(".create").on("click", function () {
                console.log("clicked");
                location.reload(true);
            });

            let activeclass = localStorage.getItem("active");
            if (activeclass != "true") {
                window.location.href = "/";
            }

        });


    </script>

</body>
</html>
