@page
@model BloomInventories.Pages.DashboardModel
@{
}

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BloomInventories</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BloomInventories.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>

    <div class="navigation">
        <div class="logo">BLOOM INVENTORIES</div>
        <div class="line"></div>

        <a class="nav-link activeH" asp-area="" asp-page="/Dashboard"><h3><strong>Dashboard</strong></h3></a>
        <a class="nav-link" asp-area="" asp-page="/Inventory"><h3>Inventory</h3></a>
        <a class="nav-link" asp-area="" asp-page="/Create"><h3>Create</h3></a>
        <a class="nav-link" asp-area="" asp-page="/Dashboard"><h3>Sales Portal</h3></a>

    </div>

    <div style="width: 55%; height: 100vh; float: left; background-color: #FDFCF7;">

        <div class="row">
            <form method="post" asp-page-handler="location" class="location-container">

                <select class="location-picker" name="location_id" value="1">
                    <option class="option1" value="1">Bloom Headquarters</option>
                    <option class="option2" value="2">Peony Place</option>
                    <option class="option3" value="3">Carnation Corner</option>
                </select>

                <input class="btn confirm" type="submit" value="CHANGE" style="float:left;" />
            </form>

            <a class="sub-nav" asp-area="" asp-page="/Index">Home</a>
            <a class="sub-nav" asp-area="" asp-page="/Inventory">Inventory</a>
            <a class="sub-nav" asp-area="" asp-page="/Create">Create</a>

        </div>

        <h1>The most fresh floral <stong>creations</stong> happen here...</h1>

        <div class="seasonal">
            <h3>Seasonal Flowers</h3>

            @foreach (var seasonalFlower in Model.AllSeasonalFlowers)
            {
                <div class="flower-container">
                    <div class="img-container"><img class="flower-img" src="@seasonalFlower.ImgUrl" /></div>
                    <h4>@seasonalFlower.Name</h4>
                </div>

            }

        </div><!--seasonal container-->

        <div class="seasonal" style="margin-top:30px">
            <h3>Stock running low</h3>

            @foreach (var lowFlowers in Model.AllLowFlowers)
            {
                <div class="flower-container">
                    <div class="img-container"><img class="flower-img" src="@lowFlowers.ImgUrl" /></div>
                    <h4>@lowFlowers.Name | <strong>@lowFlowers.Quantity</strong></h4>

                </div>

            }

        </div>
    </div>

    <div style="width: 25%; height: 100vh; float: left; background-color: #F0F1EB; padding:20px">
        <h3 class="logo" style="color: #2E3D30; margin-left:35px; margin-top:20px; font-size:15px">BOUQUET OF THE WEEK</h3>
        <div class="weekly">
            <img src="https://i.pinimg.com/564x/37/82/9e/37829e4b9df9edb27f48e7a823248947.jpg" style="width:100%; border-radius: 150px 150px 0px 0px;" />
        </div>

        <h5 class="weeklyHeader">Peach perfect</h5>
        <h6 class="weeklyCat">floral</h6>
        <p class="weeklyP">Orange roses, peach ranunculus, mini orange roses, peach carnation, baby’s breath, eucalyptus, brown tissue paper, pink ribbon, white ribbon</p>

        <div class="create">CREATE NOW</div>

        <div class="subs">
            <h2>41</h2>
            <div class="line2"></div>
            <h4>Weekly <br />subscriptions</h4>
        </div>
    </div>


</body>
</html>
