@page
@model BloomInventories.Pages.InventoryModel
@{
}


@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BloomInventories</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/inventory.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BloomInventories.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>


    @{
        if (Model.Message != "")
        {
            <div class="overlay">
                <div class="card-popup">
                    <div class="top-illustration"><img src="~/images/illustration.png" style="width: 100%; margin-top: 30px;" /></div>
                    <h5>STOCK TAKE</h5>
                    <p>@Model.Message <br />at Bloom Headquarters</p>
                    <div class="close">DONE</div>
                </div>
            </div>
        }
    }

    <div class="filter-overlay">
        <div class="side-filter">
            <div class="cross"><img src="~/images/close.png" style="width:60%" /></div>
            <p class="show" style="margin-top:340px; font-weight:500">Filter</p>
            <p class="show active-show" value="all">SHOW ALL</p>
            <p class="show" value="evergreen">SHOW ALL EVERGREENS</p>
            <p class="show" value="seasonal">SHOW ALL SEASONAL</p>
            <p class="show" value="packaging">SHOW ALL PACKAGING</p>
        </div>
    </div>


    <div class="navigation">
        <div class="logo">BLOOM INVENTORIES</div>
        <div class="line"></div>

        <a class="nav-link activeH" asp-area="" asp-page="/Dashboard"><h3>Dashboard</h3></a>
        <a class="nav-link" asp-area="" asp-page="/Inventory"><h3><strong>Inventory</strong></h3></a>
        <a class="nav-link" asp-area="" asp-page="/Create"><h3>Create</h3></a>
        <a class="nav-link" asp-area="" asp-page="/Dashboard"><h3>Sales Portal</h3></a>

    </div>

    <div style="width: 80%; height: 100vh; float: left; background-color: #FDFCF7;">

        <div class="row">

            <form method="post" asp-page-handler="location" class="location-container">

                <select class="location-picker" name="location_id" value="1">
                    <option class="option1" value="1">Bloom Headquarters</option>
                    <option class="option2" value="2">Peony Place</option>
                    <option class="option3" value="3">Carnation Corner</option>
                </select>

                <input class="btn confirm" type="submit" value="CHANGE" style="float:left;" />
            </form>

            <a class="sub-nav" asp-area="" asp-page="/Index">Home</a>
            <a class="sub-nav" asp-area="" asp-page="/Inventory"><strong>Inventory</strong></a>
            <a class="sub-nav" asp-area="" asp-page="/Create">Create</a>
            <div class="filter-btn">Filter</div>

        </div>



        <div class="card-container">

            @foreach (var flower in Model.allFlowers)
            {
                <div class="card" value="@flower.Category">

                    <div class="row">

                        <div class="img-container"><img class="flower-img" src="@flower.ImgUrl" /></div>

                        <div style="float:left; width:50%">
                            <h3>@flower.Name</h3>
                            <h5>@flower.Category</h5>
                        </div>

                    </div>

                    <form method="post" asp-page-handler="update" class="row">
                        <input class="form-controller quantity" name="quantity" value="@flower.Quantity" type="number" min="0" step="1" />
                        <input type="hidden" name="name" value="@flower.Name" />
                        <input type="hidden" name="location_id" value="@flower.Location_id" />
                        <button class="done">Update</button>
                    </form>

                </div>
            }




        </div>
    </div>

    <script>//jquery

        $(function () {

            $(".filter-overlay").hide();

            $(".close").on("click", function () {
                $(".overlay").fadeOut();
            });


            $(".cross").on("click", function () {
                $(".filter-overlay").fadeOut();
            });


            $(".filter-btn").on("click", function () {
                console.log("clicked");
                $(".filter-overlay").fadeIn();
            });

            $(".show").on("click", function () {
            
                $(".show").removeClass("active-show");
                $(this).addClass("active-show");


                if ($(".active-show").text() == "SHOW ALL EVERGREENS") {
                    $(".card").hide();
                    $('.card[value="' + "evergreen" + '"]').show();
                    $(".filter-overlay").hide();

                } else if ($(".active-show").text() == "SHOW ALL SEASONAL") {
                    $(".card").hide();
                    $('.card[value="' + "seasonal" + '"]').show();
                    $(".filter-overlay").hide();

                } else if ($(".active-show").text() == "SHOW ALL PACKAGING") {
                    $(".card").hide();
                    $('.card[value="' + "packaging" + '"]').show();
                    $(".filter-overlay").hide();
                } else {
                    $(".card").show();
                    $(".filter-overlay").hide();
                }
             });

        });</script>

</body>

</html>
